<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudo Fabísticos</title>
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="index.css">
</head>

<body class="prymary flex">
    <div class="flex column container-principal">

        <div class="header flex row">
            <div class="flex row margin-default">
                <div class="flex row flex-end">
                    <div class="dropdown">
                        <i class="icon dp36 icon-menu"></i>
                        <div class="dropdown-content-menu flex column margin-default">
                            <a class="item-menu flex row margin-default" href="tratamento-dados/tratamento-dados.html">
                                <i class="icon dp18 icon-filter"></i>
                                <label class="pointer">Tratamento de dados para formulário</label>
                            </a>
                            <a class="item-menu flex row margin-default">
                                <i class="icon dp18 icon-filter"></i>
                                <label class="pointer">Tratamento de dados para formulário</label>
                            </a>
                            <a class="item-menu flex row margin-default">
                                <i class="icon dp18 icon-filter"></i>
                                <label class="pointer">Tratamento de dados para formulário</label>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="logo">
                    <h1>Estudos</h1>
                </div>
            </div>
            <div>
                <button id="iniciar-estudo" class="btn-normal iniciar no-select">
                    <span>Iniciar</span>
                </button>
            </div>
        </div>

        <div class="banner flex">
            <h1>Bem vindo a plataforma de estudo Fabísticos</h1>
        </div>

        <div class="flex img-ilustracao">
            <img src="./../../assets/apresentacao.png" alt="">
        </div>
    </div>

</body>

<script>
    require('./index.js')
</script>

</html>