<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="index.css">

</head>

<body class="prymary flex">
    <div class="flex column container-principal">

        <div class="header flex row">
            <div class="logo">
                <h1>Estudos</h1>
            </div>
            <div>
                <button id="iniciar-estudo" class="btn-normal iniciar no-select">
                    <span>Iniciar</span>
                </button>
            </div>
        </div>

        <div class="banner flex">
            <h1>Bem vindo a plataforma de estudo Fabísticas</h1>
        </div>

        <div class="flex img-ilustracao">
            <img src="./../../assets/TESTE.png" alt="">
        </div>
    </div>

</body>

<script>
    require('./index.js')
</script>

</html>