html, body {
    height: 100%;
    width: 100%;
    border: 0px;
    padding: 0px;
    background-color: #535353;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    margin-top: 30px;
}

.container > * {
    margin-bottom: 8px;
}

.input {
    border: 0px;
    border-bottom: 1px solid;
    margin-bottom: 18px;
    width: 60%;
    background-color: #535353;
    border-color: rgb(194, 132, 74);
    font-size: 15pt;
    outline: none;
    color: rgb(219, 219, 219);
}

#submit:hover, #buscar:hover {
    background-color: #da8404a9;
    user-select: none;
    outline: none;
}

#submit:active, #buscar:active {
    background-color: #c7c6c694;
    user-select: none;
    outline: none;
}

#submit, #buscar {
    width: 150px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    color: #535353;
    background-color: #da8404;
    cursor: pointer;
}

.busca-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filtro {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

#tipo {
    outline: none;
    height: 35px;
    margin-right: 10px;
    font-size: 15pt;
    width: 150px;
    border: 0px;
    border-bottom: 1px solid black;
    color: rgb(255, 255, 255);
    background-color: #535353;
    border-color: rgb(194, 132, 74);
}

#filtro {
    width: 100%;
    margin: 0px;
}

#buscar {
    margin-left: 15px;
}

.lista {
    width: 100%;
}

.lista thead {
    background-color: #c1c1c1;
}

.lista tbody {
    background-color: #d6d6d693;
}
 
.lista > thead > tr th {
    border-right: 1px solid;
    border-bottom: 1px solid;
    width: 30%;
    text-align: center;
    height: 25px;
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
}

.lista > tbody > tr td {
    border-right: 1px solid;
    border-bottom: 1px solid rgba(92, 92, 92, 0.603);
    width: 30%;
    height: 10px;
    text-align: center;
}

