
.row.margin-default > *:not(:last-child) {
    margin-right: 8px;
}

.column.margin-default > *:not(:last-child) {
    margin-bottom: 8px;
}

/* flex */
.flex-end {
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
}

.flex-center {
    align-items: center;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.fullscreen {
    width: 100%;
    height: 100%;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

