html, body {
    height: 100%;
    width: 100%;
    border: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    /* background-color: ; */
    align-items: center;
    justify-content: center;
}

.container > * {
    margin-bottom: 8px;
}

.lista {
    width: 100%;
}

.lista thead tr {
    border-bottom: 1px solid black;
}

.lista td {
    border-right: 1px solid;
    /* border-radius: 5px; */
    width: 33%;
    height: 10px;
    text-align: center;
}

